<h1><%= @task.title %></h1>

<%= link_to 'Back to tasks list', tasks_path %>

<p><%= @task.details %></p>
<p><%= @task.completed %></p>
<%= link_to "Delete #{@task.title}", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %>
